count: 1
elasticsearch:
  volumeClaimTemplate:
    name: elasticsearch-data
beats:
  kind: deployment
  securityContext:
    runAsUser: 0
fleetServer:
  resourceName: &fleetServerName fleet-server
  serviceAccount:
    resourceName: *fleetServerName
    bindings:
      - resourceName: *fleetServerName
        scope: cluster
    roles:
      - resourceName: *fleetServerName
        scope: cluster
        rules:
          - apiGroups:
              - ""
            resources:
              - pods
              - namespaces
              - nodes
            verbs:
              - get
              - watch
              - list
          - apiGroups:
              - coordination.k8s.io
            resources:
              - leases
            verbs:
              - get
              - create
              - update
          - apiGroups:
              - apps
            resources:
              - replicasets
            verbs:
              - get
              - watch
              - list
          - apiGroups:
              - batch
            resources:
              - jobs
            verbs:
              - get
              - watch
              - list
agent:
  resourceName: &agentName elastic-agent
  mode: fleet
  fleetServerRef: *fleetServerName
  securityContext:
    runAsUser: 0
  automountServiceAccountToken: true
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  volumes:
    - name: varlibdockercontainers
      hostPath:
        path: /var/lib/docker/containers
    - name: varlogcontainers
      hostPath:
        path: /var/log/containers
    - name: varlogpods
      hostPath:
        path: /var/log/pods
  volumeMounts:
    - mountPath: /var/lib/docker/containers
      name: varlibdockercontainers
    - mountPath: /var/log/containers
      name: varlogcontainers
    - mountPath: /var/log/pods
      name: varlogpods
  serviceAccount:
    resourceName: *agentName
    bindings:
      - resourceName: *agentName
        scope: cluster
    roles:
      - resourceName: *agentName
        scope: cluster
        rules:
          - apiGroups:
              - ""
            resources:
              - pods
              - nodes
              - namespaces
              - events
              - services
              - configmaps
              - persistentvolumes
              - persistentvolumeclaims
            verbs:
              - get
              - watch
              - list
          - apiGroups:
              - coordination.k8s.io
            resources:
              - leases
            verbs:
              - get
              - create
              - update
          - nonResourceURLs:
              - /metrics
            verbs:
              - get
          - apiGroups:
              - extensions
            resources:
              - replicasets
            verbs:
              - get
              - watch
              - list
          - apiGroups:
              - apps
            resources:
              - statefulsets
              - deployments
              - replicasets
              - daemonsets
            verbs:
              - get
              - watch
              - list
          - apiGroups:
              - ""
            resources:
              - nodes/stats
            verbs:
              - get
          - apiGroups:
              - batch
            resources:
              - jobs
              - cronjobs
            verbs:
              - get
              - watch
              - list
          - apiGroups:
              - storage.k8s.io
            resources:
              - storageclasses
            verbs:
              - get
              - watch
              - list
